<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ResearchVault</title>
    @* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> *@
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" href="~/css/site.css" />
</head>



<body>

    @* ------------- Header Start--------------- *@
    <header id="LayoutHeader">
    @*  <nav class="navbar navbar-expand-md navbar-dark bg-dark " aria-label="Fourth navbar example">*@        
        <nav class="navbar navbar-expand-md bg-rv-main navbar-dark" aria-label="Fourth navbar example">

            <div class="container-fluid">

                @* Main logo/home button *@
                <a class="navbar-brand rv-color-second" style="font-size: 20px;" asp-area="" asp-page="/Index">
                    <img src="~/images/RV-logo-cap.png" style="height: 30px; width: 30px;"/>
                    <b class="ms-2" style="vertical-align: middle; font-weight: 700;">RESEARCH VAULT</b>
                </a>

                @* <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button> *@

                @*links to pages*@
                <div class="collapse navbar-collapse" id="navbarsExample04">
                    <ul class="navbar-nav me-auto mb-2 mb-md-0 mt-1" style="color:white">

                        <li class="nav-item ms-3">
                            <a class="nav-link active" style="font-size: 16px" aria-current="page" asp-area="" asp-page="/ViewSource">

                                @* @{Context.Request.HttpContext.Session.SetString("FormStatus", "Add");} *@

                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle mb-1" viewBox="0 0 16 16">
                                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
                                    <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4" />
                                </svg>
                                &nbsp;Add
                            </a>
                        </li>

                        <li class="nav-item ms-2">
                            <a class="nav-link active" style="font-size: 16px" aria-current="page" placeholder="Search" asp-area="" asp-page="/SearchSource">
                                @* <img src="~/images/search.svg" class="mb-1"/> Search *@
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search mb-1" viewBox="0 0 16 16">
                                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
                                </svg>
                                &nbsp;Search
                            </a>
                        </li>

                    </ul>

                    @* right side of nav bar *@
                    <div class="d-flex align-items-center">
                    @* <div class="d-lg-flex col-lg-3 justify-content-lg-end">*@
                    

                        <div class="nav-item dropdown">
                            <a class="nav-link link-light active dropdown-toggle px3 me-3" href="#" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">Profile</a>

                            <ul class="dropdown-menu shadow">
                                <li><a class="dropdown-item" id="AdminPage" asp-page="/admin/ControlPanel">Admin</a></li>
                                <li><a class="dropdown-item" asp-page="/admin/UserSettings">Settings</a></li>
                                <li><a class="dropdown-item" asp-page="/admin/Index" onclick="ClearSession()">Log out</a></li>
                            </ul>

                        </div>

                        <svg xmlns="http://www.w3.org/2000/svg" width="30px" height="30px" fill="white" class="bi bi-person-circle me-3" viewBox="0 0 16 16" >
                            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
                            <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1" />
                        </svg>

                        @* <img src="~/images/person-circle.svg" style=" height: 30px; width: 30px; margin-bottom:3px;" /> *@
                        
                        @* <form class="d-flex" role="search">
                            <input class="form-control" type="search" placeholder="Search" aria-label="Search">
                            <button class="btn btn-outline-dark" type="submit">Search</button>
                        </form> *@

                    </div>

                </div>
            </div>
        </nav>
    </header>
    @* ------------- Header End --------------- *@
    

    
    <main role="main" class="container-fluid" style="padding: unset; flex: auto;">
        @RenderBody()
    </main>
    


    @* ------------- Footer Start --------------- *@
    <footer class="border-top text-muted">
        <div class="container">
            &copy; 2024 - ResearchVault - <a asp-area="" asp-page="/Privacy">Privacy</a> 
            - <a class="link-primary active" aria-current="page" asp-area="" asp-page="/index">To Main Page</a>
            - <a class="link-primary active" aria-current="page" asp-area="" asp-page="/admin/index">To Login Page</a>

        </div>
    </footer>
    @* ------------- Footer End --------------- *@


    @{
            @using Microsoft.AspNetCore.Http

            @namespace ResearchVault.Pages.Shared

        // @model dynamic

        //Layout = null;
    }
    

    <script>
        function hideAdminPage() {
            var permissions = @Context.Request.HttpContext.Session.GetInt32("Permissions");
            var adminPageElement = document.getElementById("AdminPage");

            if (permissions < 2) {
                adminPageElement.style.display = "none";
            }
        }

        hideAdminPage();


        
    </script>
   
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
